/simpcrm/.gradle/
/simpcrm/build/
/.idea
/simpcrm/build/
/.gradle/
filestorage/.gradle/8.7/checksums/checksums.lock
filestorage/.gradle/8.7/executionHistory/executionHistory.bin
filestorage/.gradle/8.7/executionHistory/executionHistory.lock
filestorage/.gradle/8.7/fileHashes/fileHashes.bin
filestorage/.gradle/8.7/fileHashes/fileHashes.lock
filestorage/.gradle/8.7/fileHashes/resourceHashesCache.bin
filestorage/.gradle/buildOutputCleanup/buildOutputCleanup.lock
filestorage/.gradle/file-system.probe
filestorage/build/classes/java/main/com/crm/filestorage/controller/FileStorageRestController.class
filestorage/build/classes/java/main/com/crm/filestorage/dto/FileStorageDTO.class
filestorage/build/classes/java/main/com/crm/filestorage/entity/FileStorage$FileStorageBuilder.class
filestorage/build/classes/java/main/com/crm/filestorage/entity/FileStorage.class
filestorage/build/classes/java/main/com/crm/filestorage/repository/FileStorageRepository.class
filestorage/build/classes/java/main/com/crm/filestorage/service/FileStorageService.class
filestorage/build/classes/java/main/com/crm/filestorage/uploadClasses/UploadFileRequest.class
filestorage/build/tmp/compileJava/compileTransaction/stash-dir/FileStorageRestController.class.uniqueId0
filestorage/build/tmp/compileJava/compileTransaction/stash-dir/FileStorageService.class.uniqueId1
filestorage/build/tmp/compileJava/previous-compilation-data.bin
filestorage/src/main/java/com/crm/filestorage/controller/FileStorageRestController.java
filestorage/src/main/java/com/crm/filestorage/dto/FileStorageDTO.java
filestorage/src/main/java/com/crm/filestorage/repository/FileStorageRepository.java
filestorage/src/main/java/com/crm/filestorage/service/FileStorageService.java
simpcrm/build.gradle
simpcrm/build/classes/java/main/com/crm/client/FileStorageClient.class
simpcrm/build/classes/java/main/com/crm/dto/FileStorage.class
simpcrm/src/main/java/com/crm/client/FileStorageClient.java
simpcrm/src/main/java/com/crm/config/SecurityConfig.java
simpcrm/src/main/java/com/crm/controller/html/FileStorageView.java
simpcrm/src/main/java/com/crm/controller/html/OrderControllerView.java
simpcrm/src/main/java/com/crm/controller/html/UserControllerView.java
simpcrm/src/main/java/com/crm/controller/rest/FileStorageController.java
simpcrm/src/main/java/com/crm/controller/rest/OrderController.java
simpcrm/src/main/java/com/crm/controller/rest/StatusController.java
simpcrm/src/main/java/com/crm/dto/OrderDTO.java
simpcrm/src/main/java/com/crm/entity/security/Authority.java
simpcrm/src/main/java/com/crm/entity/security/User.java
simpcrm/src/main/java/com/crm/service/AmenitiesService.java
simpcrm/src/main/java/com/crm/service/MerchandiseService.java
simpcrm/src/main/java/com/crm/service/OrderService.java
simpcrm/src/main/java/com/crm/service/UserService.java
simpcrm/src/main/java/com/crm/uploadClass/OrderDTOWithFile.java
simpcrm/src/main/resources/application.yml
