<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница CRM</title>
  <link rel="stylesheet" href="styles.css">
  <script src="script.js"></script>
</head>
<body>
    <header>
        <h1>Добро пожаловать в CRM-приложение</h1>
        <p>Мы заботимся о вашем бизнесе</p>
    </header>
    <nav>
        <a href="personal_cabinet.html" class="login-btn">Личный кабинет</a>
    </nav>
    <div class="container">
        <section id="contacts">
            <h2>Наши контакты</h2>
            <p>Телефон: +7 (XXX) XXX-XX-XX</p>
            <p>Email: info@example.com</p>
            <p>Адрес: ул. Название, город, страна</p>
        </section>
        <section id="services">
            <h2>Наши услуги</h2>
            <ul>
                <li>Управление клиентами</li>
                <li>Маркетинговые кампании</li>
                <li>Аналитика и отчетность</li>
                <li>Интеграция с социальными сетями</li>
            </ul>
        </section>
        <section id="products">
            <h2>Наши продукты</h2>
            <ul>
                <li>CRM-система "Успех"</li>
                <li>CRM-плагин для сайтов</li>
                <li>CRM-мобильное приложение</li>
                <li>Интеграция с популярными сервисами</li>
            </ul>
        </section>
    </div>
    <footer>
        <p>© 2024 Название вашей компании. Все права защищены.</p>
    </footer>
</body>
</html>
